// @see https://getbootstrap.com/docs/5.2/helpers

.bg-transparent {
  background-color: transparent !important;
}

.pointer-event-none {
  pointer-events: none !important;
}

.wb-all {
  word-break: break-all !important;
}
