{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.breadcrumb: Items for the breadcrumb region.
 * - page.header: Items for the header region.
 * - page.content_top: Drupal items, mainly for admin elements.
 * - page.content: The main content of the current page.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% block page %}
<div class="layout-container d-flex flex-column min-vh-100">

  {# header #}
  {% include "@${name}/layout/header.html.twig" %}
  {# / header #}

  {% if page.content_top %}
    <div class="container">
      {{ page.content_top }}
    </div>
  {% endif %}

  <main role="main" class="flex-grow-1">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

    {% block page_main_content %}
      <div class="container">
        <div class="row">

          {# Sidebar. #}
          {% if page.sidebar|render|striptags|trim %}
            <div class="col-12 col-lg-3">
              {{ page.sidebar }}
            </div>
          {% endif %}

          {# Main Content. #}
          {% if page.content %}
            <div class="col-12 col-lg">
              {{ page.content }}
            </div>
          {% endif %}

        </div>
      </div>
    {% endblock %}
  </main>

  {# footer #}
  {% include "@${name}/layout/footer.html.twig" %}
  {# / footer #}

</div>
{% endblock %}
