{#
/**
 * @file
 * Theme override for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set view_classes = [
    'view',
    'view--' ~ id|clean_class,
    'view-display--' ~ display_id|clean_class,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
{% block view %}
  <div{{ attributes.addClass(view_classes) }}>
    {% block content %}
      {% if title %}
        {% block title %}
          {{ title_prefix }}
          {{ title }}
          {{ title_suffix }}
        {% endblock %}
      {% endif %}

      {% block header %}
        {% if header %}
          <header>
            {{ header }}
          </header>
        {% endif %}
      {% endblock %}

      {% block exposed %}
        {{ exposed }}
      {% endblock %}

      {% block attachment_before %}
        {{ attachment_before }}
      {% endblock %}

      {% if rows %}
        {% block rows %}
          {{ rows }}
          {{ pager }}
        {% endblock %}
      {% elseif empty %}
        {% block empty %}
          {{ empty }}
        {% endblock %}
      {% endif %}

      {% block attachment_after %}
        {{ attachment_after }}
        {{ more }}
      {% endblock %}

      {% block footer %}
        {% if footer %}
          <footer>
            {{ footer }}
          </footer>
        {% endif %}
      {% endblock %}

      {{ feed_icons }}
    {% endblock %}
  </div>
{% endblock %}